<template>
   <div>
      <search @films="setFilms"></search>
      <film-list @updated="() => getIsFavorite()" title="Favorite" v-if="favoriteMovies" :films="favoriteMovies.movies"></film-list>
      <film-list @updated="() => getIsFavorite()" title="Films" v-if="films" :films="films"></film-list>
    </div>
</template>


<script>
  import Search from '../components/Search/index'
  import FilmList from '../components/FilmList/index'
  import { favoriteMovies } from '@/helpers'


  export default {
    name: 'list',
    data: () => ({
        films: null,
        favoriteMovies
    }),
    components: { Search, FilmList },
    methods: {
      getIsFavorite(){
          this.favoriteMovies = JSON.parse(localStorage.getItem('favorite')) || { movies: [] }
      },
      setFilms(films){
        this.films = films
      }
    }


  }
</script>
