<template>
     <div class="search">
        <input type="text" v-model="searchInput">
        <button @click="search">Search</button>
    </div>
</template>


<script>
    import { Api } from '@/services/Api'
    export default {
        name: 'search',
        data: () => ({
            searchInput: ''
        }),
        methods: {
            async search(){
                const films = await Api.getFilmsByQuery(`?s=${this.searchInput}`)
                if (films.Error){
                    // document.querySelector('.movies').innerHTML = 'Not found'
                } else {
                    this.$emit('films', films)
                }
            }
        },

    }
</script>
